.header {
    padding: 10px 10px;
    background-color: white;
        // display: flex;
        // align-items: center;
        // justify-content: center;


    ul {
        display: grid;
        grid-template-columns: repeat(5,1fr);
        // align-items: center;
        // justify-content: center;


        li {
            cursor: pointer;
            margin: 10px 5px;
            border-radius: 5px;
            border: 1px solid rgb(5, 73, 100);

            &:hover {
                transform: scale(1.05);
            }

            a {
                padding: 10px 20px;
                display: block;
                text-transform: capitalize;
                font-weight: bold;
                color: rgb(5, 73, 100);
            }
        }
    }

    .mahQowiw {
        background-color: rgb(5, 73, 100);
        width: 25%;
        margin: 10px auto;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover{
            background-color: white;
            border: 1px solid $asosiyrang;
            transform: scale(1.02);
            transition: 0.5s;
            
            a{
                color: $asosiyrang;
                font-weight: bold;
            }
        }


        a {

            padding: 10px 15px;
            color: white;
            font-weight: bold;
            text-transform: capitalize;

        }
    }


}

@media(max-width: 430px) {
    .header {
        padding: 5px 5px;
        justify-content: space-between;

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;

            li {
                // margin:  5px 1px;
                a {
                    padding: 10px 20px;
                    font-size: 16px;
                }
            }

            .mahQowiw {
                // display: inline-block;/
            }
        }

        .mahQowiw{
            width: 45%;
            // margin-left: 5px;
            a{
                i{
                    display: none;
                }
            }
        }
    }
}




.sehlar {
    margin-top: 100px;

    &-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;


        &-card {
            a {
                display: block;
                text-decoration: none;
                color: inherit;
            }

            background-color: white;
            color: $asosiyrang;
            padding: 15px;
            border-radius: 15px;



            &:hover {
                transform: scale(1.02);
                cursor: pointer;
            }

            h3 {
                font-weight: bold;
                font-size: 25px;
                text-transform: capitalize;
            }

            p {
                font-weight: bold;
                font-size: 20px;
                margin-top: 10px;
            }

        }

        .SqowiwCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 2px solid white;
            background-color: $asosiyrang;
            color: white;

            i {
                font-size: 25px;
                margin-top: 15px;
                font-weight: bold;
                text-align: center;
            }
        }


    }
}

@media(max-width: 430px) {
    .sehlar {
        margin: 40px auto;

        &-cards {
            grid-template-columns: repeat(2, 1fr);
            gap: 5px;

            &-card {
                padding: 5px;
                border-radius: 5px;

                h3 {
                    font-size: 18px;
                }

                p {
                    font-size: 16px;
                    margin-top: 10px;
                }
            }
        }
    }
}